<h1> Create a article</h1>


<!-- @article new dorm -->
<%= form_for @article do |f| %>
  <p>
    <!-- text labe and field -->
    <%= f.label :title %>
    <br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <!-- description label and field -->
    <%= f.label :description %>
    <br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <!-- submit button -->
    <%= f.submit %>
  </p>

<% end %>
  
